body {
    background: rgb(250, 250, 250);
}

.container-fluid#navbar-container {
    padding: 36px;
}

.nav-link {
    font-size: 17px;
}

#subtitulo {
    border-bottom: 3px solid black;
}

#texto {
    font-size: 18px;
}

#desenvolvimento, #conclusao {
    padding-top: 85px;
    height: 610px;
}

#referencia {
    padding-top: 85px;
    height: 600px;
}